[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Bip002
Bip002-Pelvis
Bip002-Spine
Bip002-Spine1
Bip002-Spine2
Bip002-Neck
Bip002-Neck1
Bip002-Neck2
Bip002-Head
Upper_Hair00
Upper_Hair01
Upper_Hair_Dum
Mouth
R_Rein00
R_Rein01
R_Rein_Bridge00
R_Rein02
R_Rein03
R_Rein_Bridge01
R_Rein04
R_Rein05
R_Rein_Dum
L_Rein00
L_Rein01
L_Rein_Bridge00
L_Rein02
L_Rein03
L_Rein_Bridge01
L_Rein04
L_Rein05
L_Rein_Dum
Fx_Top
Lower_Hair00
Lower_Hair01
Lower_Hair_Dum
Bip002-L-Clavicle
Bip002-L-UpperArm
Bip002-L-Forearm
Bip002-L-Hand
Bip002-L-Finger0
Bip002-R-Clavicle
Bip002-R-UpperArm
Bip002-R-Forearm
Bip002-R-Hand
Bip002-R-Finger0
FR_HorseArmor00
FR_HorseArmor01
FR_HorseArmor_Dum
F_HorseArmor00
F_HorseArmor01
F_HorseArmor_Dum
FL_HorseArmor00
FL_HorseArmor01
FL_HorseArmor_Dum
RM_HorseArmor00
RM_HorseArmor01
RM_HorseArmor_Dum00
LM_HorseArmor00
LM_HorseArmor01
LM_HorseArmor_Dum00
Horse_Seat
RM_HorseArmor02
RM_HorseArmor03
RM_HorseArmor_Dum01
LM_HorseArmor02
LM_HorseArmor03
LM_HorseArmor_Dum01
Tail00
Tail01
Tail02
Tail03
Tail_Dum
Bip002-L-Thigh
Bip002-L-Calf
Bip002-L-HorseLink
Bip002-L-Foot
Bip002-L-Toe0
LB_HorseArmor00
LB_HorseArmor01
LM_HorseArmor04
LM_HorseArmor_Dum02
Bip002-R-Thigh
Bip002-R-Calf
Bip002-R-HorseLink
Bip002-R-Foot
Bip002-R-Toe0
RB_HorseArmor00
RB_HorseArmor_Dum
RM_HorseArmor04
RM_HorseArmor_Dum02
Knight_Seat
Bip001
Pelvis
F_Cloth00
F_Cloth01
F_Cloth02
F_Cloth_Dum
B_Cloth00
B_Cloth01
B_Cloth02
B_Cloth_Dum
thigh_l
calf_l
foot_l
ball_l
L_Knee
thigh_r
calf_r
foot_r
ball_r
R_Knee
SpineSpliter
spine_01
spine_02
spine_03
neck_01
head
Hair00
Hair01
Hair02
Hair_Dum
clavicle_l
upperarm_l
lowerarm_l
hand_l
thumb_01_l
thumb_02_l
index_01_l
index_02_l
middle_01_l
middle_02_l
ring_01_l
ring_02_l
Bip001-LUpArmTwist
L_Shoulder_Armor
clavicle_r
upperarm_r
lowerarm_r
hand_r
thumb_01_r
thumb_02_r
index_01_r
index_02_r
middle_01_r
middle_02_r
ring_01_r
ring_02_r
Bip001-RUpArmTwist
R_Shoulder_Armor
Cape_Con
M_Cape00
M_Cape01
M_Cape02
M_Cape03
M_Cape_Dum
L_Cape00
L_Cape01
L_Cape02
L_Cape03
L_Cape_Dum
R_Cape00
R_Cape01
R_Cape02
R_Cape03
R_Cape_Dum
Bip001-Weapon
Bone_R_Weapon
Fx_Name
Effect_bone
Fx_Bottom
Fx_Ground
Rein_Con
