.Wrapper_root__3Jx2C {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}
.Wrapper_root__3Jx2C p {
  margin: 0;
  padding: 0;
}
.Wrapper_root__3Jx2C a {
  text-decoration: none;
}
.Wrapper_root__3Jx2C button {
  overflow: visible;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}
.Wrapper_root__3Jx2C button[disabled] {
  cursor: default;
}
.Wrapper_root__3Jx2C button,
.Wrapper_root__3Jx2C [role=button] {
  cursor: pointer;
}
.PcPopupFan_dimmed__1UQY7 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.PcPopupFan_root__rRMdr {
  overflow: hidden;
  position: fixed;
  left: 50%;
  bottom: 0;
  box-sizing: border-box;
  width: 519px;
  margin-left: -259.5px;
  padding: 0 13px 12px;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid #dadde1;
  background-color: #fff;
}
.PcPopupFan_root__rRMdr .PcPopupFan_button_cancel__3krHH {
  margin-left: 12px;
  padding: 0 18px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.16px;
  color: #202020;
}
.PcPopupFan_root__rRMdr .PcPopupFan_button_close__37kYa {
  position: absolute;
  top: 3px;
  right: -13px;
  padding: 13px;
}

.PcPopupFan_layer__2YTiz {
  position: relative;
}

.PcPopupFan_title__3i1bs {
  padding: 21px 25px 0;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.16px;
  text-align: center;
  color: #202020;
}

.PcPopupFan_noti__1bG5p {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 36px;
  margin-top: 19px;
  padding: 0 12px;
  border-radius: 4px;
  border: 1px solid #e5e8eb;
  background-color: #fcfdfd;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.14px;
  color: #808080;
}
.PcPopupFan_noti__1bG5p > strong {
  margin-right: 4px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.16px;
  text-align: center;
  color: #202020;
}

.PcPopupFan_wrap_button__1KIUQ {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.PcPopupFan_button_noti__1a_MA {
  width: 35px;
  height: 21px;
}

.PcPopupFan_input__39V4e {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.PcPopupFan_input_inner__1EQBk {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #d4d4d4;
  transition: background-color cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
  cursor: pointer;
}
.PcPopupFan_input__39V4e:checked + .PcPopupFan_input_inner__1EQBk {
  background-color: #00da78;
}
.PcPopupFan_input_inner__1EQBk::after {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #fff;
  transition: left cubic-bezier(0.28, 1.31, 0.49, 0.99) 0.4s;
  content: "";
}
.PcPopupFan_input__39V4e:checked + .PcPopupFan_input_inner__1EQBk::after {
  left: 15px;
}

.PcPopupFan_wrap_cancel__3hU7n {
  display: flex;
  align-items: center;
  margin-left: 12px;
  height: 18px;
  border-left: 1px solid rgba(112, 117, 129, 0.14);
}

.PcPopupFan_icon_close__18O_K {
  pointer-events: none;
}
.PcPopupFan_icon_close__18O_K > svg {
  display: block;
  width: 12px;
  height: 12px;
  fill: #888;
}
.Fan_base__2aP2I {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 71px;
  height: 30px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
}
.Fan_type_pc__yvkHK .Fan_base__2aP2I {
  width: 80px;
  height: 34px;
  border-radius: 17px;
}
[aria-pressed=true] .Fan_base__2aP2I {
  margin-left: 11px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.15);
}
.Fan_type_pc__yvkHK [aria-pressed=true] .Fan_base__2aP2I {
  margin-left: 20px;
}

.Fan_container__x8EQa {
  position: relative;
  width: 49px;
  height: 14px;
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Fan_type_pc__yvkHK .Fan_container__x8EQa {
  width: 58px;
  height: 18px;
}
[aria-pressed=true] .Fan_container__x8EQa {
  width: 35px;
}

.Fan_smile__3aLwz {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
[aria-pressed=true] .Fan_smile__3aLwz {
  transform: scale(0);
  transition: all 50ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Fan_smile__3aLwz > svg {
  display: block;
  width: 14px;
  height: 14px;
}
.Fan_type_pc__yvkHK .Fan_smile__3aLwz > svg {
  width: 18px;
  height: 18px;
}

.Fan_text_before__1WDUs {
  position: absolute;
  top: 1px;
  left: 18px;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Fan_type_pc__yvkHK .Fan_text_before__1WDUs {
  top: 3px;
  left: 24px;
}
[aria-pressed=true] .Fan_text_before__1WDUs {
  opacity: 0;
}
.Fan_text_before__1WDUs > svg {
  display: block;
  width: 29px;
  height: 11px;
}
.Fan_type_pc__yvkHK .Fan_text_before__1WDUs > svg {
  width: 34px;
  height: 16px;
}

.Fan_check_group__932vU {
  position: absolute;
  top: 7.5px;
  left: 4px;
  transition: all 50ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Fan_type_pc__yvkHK .Fan_check_group__932vU {
  top: 8px;
  left: 3px;
}

.Fan_icon_check_left__2m4zH {
  position: absolute;
  top: -0.5px;
  left: 0;
  width: 2px;
  height: 6px;
  border-radius: 1px 1px 0px 1px;
  background-color: #fff;
  transform: rotate(-45deg) scaleY(0);
  transform-origin: 50% 0%;
  transition: all 10ms 50ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
[aria-pressed=true] .Fan_icon_check_left__2m4zH {
  transform: rotate(-45deg) scaleY(1);
  transition: all 50ms 100ms;
}

.Fan_icon_check_right__2gO-d {
  position: absolute;
  width: 10px;
  height: 2px;
  top: 2.5px;
  left: 4.4px;
  border-radius: 0px 1px 1px 0px;
  background-color: #fff;
  transform: rotate(-48deg) scaleX(0);
  transform-origin: 0% 50%;
  transition: all 10ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
[aria-pressed=true] .Fan_icon_check_right__2gO-d {
  transform: rotate(-44deg) scaleX(1);
  transition: all 150ms 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Fan_text_after__3tOdh {
  position: absolute;
  opacity: 0;
  top: 2px;
  left: 20px;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
[aria-pressed=true] .Fan_text_after__3tOdh {
  top: 1px;
  left: 22px;
  opacity: 1;
}
.Fan_type_pc__yvkHK[aria-pressed=true] .Fan_text_after__3tOdh {
  top: 2px;
  left: 21px;
}
.Fan_text_after__3tOdh > svg {
  display: block;
  width: 10px;
  height: 11px;
}
.Fan_type_pc__yvkHK .Fan_text_after__3tOdh > svg {
  width: 11px;
  height: 16px;
}
.PopupFan_dimmed__PJvlq {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.PopupFan_root__2Zecz {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.PopupFan_root__2Zecz .PopupFan_text__3Um6m {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.44px;
  text-align: center;
}
.PopupFan_root__2Zecz .PopupFan_text__3Um6m > strong {
  font-weight: 600;
}
.PopupFan_root__2Zecz .PopupFan_menu__1VMf6 {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0 25px;
  border-top: 1px solid #f1f1f1;
  font-size: 15px;
  line-height: 55px;
  color: #333;
  text-align: left;
}
.PopupFan_root__2Zecz .PopupFan_close__3PuI0 {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.PopupFan_inner__24gaN {
  position: relative;
  pointer-events: auto;
  width: 335px;
  padding: 35px 0 5px;
  border-radius: 6px;
  background: #fff;
}

.PopupFan_thumbnail__3whuy {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto 10px;
  border-radius: 50%;
}
.PopupFan_thumbnail__3whuy::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.05);
  content: "";
}

.PopupFan_image__2TBVt {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PopupFan_menulist__2cLgq {
  margin-top: 23px;
}

.PopupFan_wrap_button__TNrCK {
  position: absolute;
  top: 16px;
  right: 25px;
}

.PopupFan_button_noti__VWk1y {
  width: 48px;
  height: 24px;
}

.PopupFan_input__iWSEV {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.PopupFan_input_inner__3UmP6 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #d4d4d4;
  transition: background-color cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
  cursor: pointer;
}
.PopupFan_input__iWSEV:checked + .PopupFan_input_inner__3UmP6 {
  background-color: #00da78;
}
.PopupFan_input_inner__3UmP6::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: left cubic-bezier(0.28, 1.31, 0.49, 0.99) 0.4s;
  content: "";
}
.PopupFan_input__iWSEV:checked + .PopupFan_input_inner__3UmP6::after {
  left: 26px;
}

.PopupFan_icon_close__27hoW {
  pointer-events: none;
}
.PopupFan_icon_close__27hoW > svg {
  display: block;
  width: 25px;
  height: 25px;
  fill: #646666;
}
.LayerFanCaptcha_root__2MJSF {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  height: 100vh;
  background: #fff;
}
.LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_text_guide__3i65l {
  margin-top: 6px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.4px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_layer_close__2inUS {
  position: absolute;
  padding: 10px;
  top: 6px;
  right: 7px;
}
.LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_btn__mbiTS {
  flex: 1;
  width: 45px;
  height: 44px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.33px;
  color: rgba(0, 0, 0, 0.5);
}
.LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_btn__mbiTS i,
.LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_btn__mbiTS span {
  pointer-events: none;
}
.LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_btn__mbiTS + .LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_btn__mbiTS {
  position: relative;
}
.LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_btn__mbiTS + .LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_btn__mbiTS::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #ccc;
  content: "";
}
.LayerFanCaptcha_root__2MJSF .LayerFanCaptcha_btn_confirm__JnzQs {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 49px;
  background: #03c75a;
  border: 1px solid #00bb53;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.38px;
  color: #fff;
  vertical-align: top;
}

.LayerFanCaptcha_layer_header__WJEdr {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 37px;
  padding: 10px 15px;
  background: #fff;
}

.LayerFanCaptcha_icon_close__2eK-5 {
  pointer-events: none;
}
.LayerFanCaptcha_icon_close__2eK-5 > svg {
  display: block;
  width: 27px;
  height: 26px;
}

.LayerFanCaptcha_layer_header_title__3nGBa {
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 50px;
  left: 50px;
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #101010;
  text-align: center;
}
.LayerFanCaptcha_layer_header_title__3nGBa > .LayerFanCaptcha_ell__1iXXF {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.LayerFanCaptcha_layer_content__TLNfi {
  box-sizing: border-box;
  height: 100%;
  padding-top: 58px;
  background: #f6f6f6;
}

.LayerFanCaptcha_title__1iPVm {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.47px;
  color: #000;
  text-align: center;
}

.LayerFanCaptcha_desc__1ocNW {
  margin-top: 30px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.47px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.LayerFanCaptcha_area_captcha__EbgOW {
  box-sizing: border-box;
  width: 272px;
  margin: 6px auto 0;
  border: 1px solid #ccc;
}

.LayerFanCaptcha_guide__MPb3L {
  height: 90px;
  background: #fff;
  text-align: center;
}

.LayerFanCaptcha_image__2L21c {
  width: 100%;
  height: 100%;
}

.LayerFanCaptcha_icon_voice_guide__2gYFI {
  display: inline-block;
  margin-top: 12px;
  vertical-align: top;
}
.LayerFanCaptcha_icon_voice_guide__2gYFI > svg {
  display: block;
  width: 20px;
  height: 25px;
}

.LayerFanCaptcha_btn_wrap__19XTM {
  display: flex;
  position: relative;
  border-top: 1px solid #ccc;
  background: #fff;
}

.LayerFanCaptcha_icon_voice__30YG3,
.LayerFanCaptcha_icon_refresh__9-kC4,
.LayerFanCaptcha_icon_image__2lHCb {
  display: inline-block;
  margin-top: 4px;
  vertical-align: top;
}
.LayerFanCaptcha_icon_voice__30YG3 > svg,
.LayerFanCaptcha_icon_refresh__9-kC4 > svg,
.LayerFanCaptcha_icon_image__2lHCb > svg {
  display: block;
  width: 15px;
  height: 15px;
}

.LayerFanCaptcha_icon_refresh__9-kC4,
.LayerFanCaptcha_icon_voice__30YG3 {
  margin-right: 4px;
}

.LayerFanCaptcha_icon_image__2lHCb {
  margin-right: 6px;
}

.LayerFanCaptcha_text__3QWSF {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.33px;
  vertical-align: top;
}

.LayerFanCaptcha_area_input__3hDT4 {
  position: relative;
  width: 272px;
  box-sizing: border-box;
  margin: 10px auto 0;
  border: 1px solid #dfe0e3;
  background: #fff;
}

.LayerFanCaptcha_input_captcha__2pdn3 {
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  padding: 13px 95px 13px 25px;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  letter-spacing: -0.4px;
  border: none;
  outline: 1px solid transparent;
  vertical-align: top;
}
.LayerFanCaptcha_input_captcha__2pdn3.LayerFanCaptcha_is_warning__2YIPm {
  color: #ff0000;
}
.LayerFanCaptcha_input_captcha__2pdn3::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.LayerFanCaptcha_input_captcha__2pdn3:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.LayerFanCaptcha_warning__1KBu3 {
  position: absolute;
  bottom: -24px;
  left: 23px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.5px;
  color: #ff0000;
}

.LayerFanCaptcha_button_close__3_FZa {
  position: absolute;
  top: 10px;
  right: 10px;
}
.LayerFanCaptcha_button_close__3_FZa > svg {
  display: block;
}
.PcLayerFanCaptcha_dimmed__39CX- {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.PcLayerFanCaptcha_root__1yDn7 {
  overflow: hidden;
  position: fixed;
  left: 50%;
  bottom: 0;
  box-sizing: border-box;
  width: 519px;
  height: 110px;
  margin-left: -259.5px;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid #dadde1;
  background-color: #fff;
}
.PcLayerFanCaptcha_root__1yDn7 .PcLayerFanCaptcha_desc_voice__29T0I {
  margin-top: 9px;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: -0.14px;
  color: #242424;
}
.PcLayerFanCaptcha_root__1yDn7 .PcLayerFanCaptcha_desc__3yHZK {
  padding-left: 21px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.16px;
  color: #242424;
}
.PcLayerFanCaptcha_root__1yDn7 .PcLayerFanCaptcha_button_action__1Mdmy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
}
.PcLayerFanCaptcha_root__1yDn7 .PcLayerFanCaptcha_button_action__1Mdmy:last-child {
  border-top: 1px solid #e6e8eb;
}
.PcLayerFanCaptcha_root__1yDn7 .PcLayerFanCaptcha_button_action__1Mdmy i {
  pointer-events: none;
}
.PcLayerFanCaptcha_root__1yDn7 .PcLayerFanCaptcha_btn_confirm__qGHdA {
  position: absolute;
  top: -1px;
  right: -1px;
  box-sizing: border-box;
  width: 53px;
  height: 36px;
  padding: 11px 0 9px;
  background: #03c75a;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: -0.16px;
  color: #fff;
}
.PcLayerFanCaptcha_root__1yDn7 .PcLayerFanCaptcha_layer_close__1QaXt {
  position: absolute;
  top: 4px;
  right: 0px;
  padding: 10px;
}
.PcLayerFanCaptcha_root__1yDn7 .PcLayerFanCaptcha_layer_close__1QaXt i {
  pointer-events: none;
}

.PcLayerFanCaptcha_layer__11aO0 {
  display: flex;
  position: relative;
  height: 100%;
}

.PcLayerFanCaptcha_guide__1gE2Q {
  overflow: hidden;
  position: relative;
  width: 240px;
  height: 100%;
}

.PcLayerFanCaptcha_image__2kCwh {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.PcLayerFanCaptcha_guide_voice__--iLZ {
  padding-top: 18px;
  text-align: center;
}

.PcLayerFanCaptcha_icon_voice_guide__1UE_h {
  display: flex;
  justify-content: center;
  align-items: center;
}
.PcLayerFanCaptcha_icon_voice_guide__1UE_h > svg {
  display: block;
  width: 26px;
  height: 26px;
}

.PcLayerFanCaptcha_action__26nVL {
  width: 35px;
  border-left: 1px solid #e6e8eb;
  border-right: 1px solid #e6e8eb;
}

.PcLayerFanCaptcha_icon_action__2QgGj > svg {
  display: block;
  width: 15px;
  height: 15px;
}

.PcLayerFanCaptcha_wrap_input__38ptf {
  flex-grow: 1;
  padding-top: 21px;
}

.PcLayerFanCaptcha_area_input__3MsCq {
  position: relative;
  box-sizing: border-box;
  width: 204px;
  margin: 14px 0 0 18px;
  border: 1px solid #e6e8eb;
  background: #fff;
}

.PcLayerFanCaptcha_input_captcha__31g0- {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 11px 66px 9px 13px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.16px;
  color: #000;
  border: none;
  outline: 1px solid transparent;
  vertical-align: top;
}
.PcLayerFanCaptcha_input_captcha__31g0-.PcLayerFanCaptcha_is_warning__34EBg {
  color: #ff0000;
}
.PcLayerFanCaptcha_input_captcha__31g0-::-webkit-input-placeholder {
  color: #808080;
}
.PcLayerFanCaptcha_input_captcha__31g0-:-ms-input-placeholder {
  color: #808080;
}

.PcLayerFanCaptcha_icon_close__3dLMZ > svg {
  display: block;
  width: 12px;
  height: 12px;
  fill: #888;
}
.MobileProfile_root__6vpe9 {
  transition: transform 0.4s cubic-bezier(0.475, 0.485, 0.02, 1.085);
  overflow: hidden;
  position: fixed;
  left: 15px;
  right: 15px;
  bottom: 0;
  border-radius: 24px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
}

.MobileProfile_safeArea__18ahY {
  margin-bottom: env(safe-area-inset-bottom);
}

.MobileProfile_profile__3lFds {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
  padding: 0 13px;
}
.StyleWrapper.main_color_a .MobileProfile_profile__3lFds {
  background-color: #003488;
}
.StyleWrapper.main_color_b .MobileProfile_profile__3lFds {
  background-color: #11787b;
}
.StyleWrapper.main_color_c .MobileProfile_profile__3lFds {
  background-color: #217249;
}
.StyleWrapper.main_color_d .MobileProfile_profile__3lFds {
  background-color: #533197;
}
.StyleWrapper.main_color_e .MobileProfile_profile__3lFds {
  background-color: #b52929;
}
.StyleWrapper.main_color_f .MobileProfile_profile__3lFds {
  background-color: #d67600;
}
.StyleWrapper.main_color_g .MobileProfile_profile__3lFds {
  background-color: #db5232;
}
.StyleWrapper.main_color_h .MobileProfile_profile__3lFds {
  background-color: #614735;
}
.StyleWrapper.main_color_i .MobileProfile_profile__3lFds {
  background-color: #3e3e3e;
}

.MobileProfile_thumbnail__2Z1-- {
  overflow: hidden;
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 6px;
  border-radius: 50%;
  flex-shrink: 0;
}

.MobileProfile_link_thumbnail__1p4_y {
  display: block;
}
.MobileProfile_link_thumbnail__1p4_y * {
  pointer-events: none;
}

.MobileProfile_profile_img__ulOpf {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MobileProfile_profile_info__3vm8m {
  overflow: hidden;
  flex: 1;
  display: flex;
}

.MobileProfile_profile_label__3J4HM {
  flex-shrink: 0;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #fff;
}
.MobileProfile_profile_label__3J4HM + .MobileProfile_profile_label__3J4HM {
  margin-left: 2px;
}

.MobileProfile_profile_name__2TvKA {
  overflow: hidden;
  display: inline-flex;
  margin-left: 3px;
  font-size: 15px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #fff;
}
.MobileProfile_profile_name__2TvKA * {
  pointer-events: none;
}
.MobileProfile_profile_name__2TvKA > .MobileProfile_ell__2Rh0k {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  flex: 0 1 auto;
}

.MobileProfile_icon_arrow__2jzUV {
  display: inline-block;
  flex: 0 0 auto;
  margin: 1px 0 0 6px;
  vertical-align: top;
}
.MobileProfile_icon_arrow__2jzUV > svg {
  width: 5px;
  height: 13px;
  stroke: rgba(255, 255, 255, 0.5);
}

.MobileProfile_fan__1_n_X {
  margin-left: 20px;
}
.Tooltip_root__2d6Z2 {
  position: relative;
  padding: 9px 15px 7px;
  border-radius: 6px;
  background-image: linear-gradient(to left, #19cfb5, #18d275);
}
.Tooltip_root__2d6Z2::before {
  position: absolute;
  bottom: -6px;
  right: 34px;
  border-top: 6px solid #18ceb4;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
}
.Tooltip_root__2d6Z2 .Tooltip_message__rWIuE {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.12px;
  white-space: nowrap;
  color: #fff;
}

.Tooltip_name__1GmYM {
  display: inline-block;
  vertical-align: top;
  max-width: 210px;
}
.Tooltip_name__1GmYM > .Tooltip_ell__vUdcD {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.Tooltip_line_break__i3kTt {
  display: none;
}
.Tooltip_type_long__IE7Yt .Tooltip_line_break__i3kTt {
  display: block;
}

.Tooltip_type_long__IE7Yt .Tooltip_line_break_long__3_XlE {
  display: none;
}
.PcProfile_root__3Mf9i {
  transition: transform 0.3s cubic-bezier(0.475, 0.485, 0.02, 1.085);
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 519px;
  height: 110px;
  margin-left: -259.5px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}
.StyleWrapper.main_color_a .PcProfile_root__3Mf9i {
  background-color: #003488;
}
.StyleWrapper.main_color_b .PcProfile_root__3Mf9i {
  background-color: #11787b;
}
.StyleWrapper.main_color_c .PcProfile_root__3Mf9i {
  background-color: #217249;
}
.StyleWrapper.main_color_d .PcProfile_root__3Mf9i {
  background-color: #533197;
}
.StyleWrapper.main_color_e .PcProfile_root__3Mf9i {
  background-color: #b52929;
}
.StyleWrapper.main_color_f .PcProfile_root__3Mf9i {
  background-color: #d67600;
}
.StyleWrapper.main_color_g .PcProfile_root__3Mf9i {
  background-color: #db5232;
}
.StyleWrapper.main_color_h .PcProfile_root__3Mf9i {
  background-color: #614735;
}
.StyleWrapper.main_color_i .PcProfile_root__3Mf9i {
  background-color: #3e3e3e;
}

.PcProfile_profile__35tKT {
  display: flex;
  align-items: center;
  padding: 12px 15px 10px;
}

.PcProfile_thumbnail__30SMx {
  overflow: hidden;
  position: relative;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

.PcProfile_link_thumbnail__3u8lP {
  display: block;
}
.PcProfile_link_thumbnail__3u8lP * {
  pointer-events: none;
}

.PcProfile_profile_img__1kl0X {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PcProfile_profile_img_bg__2sc8K {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.PcProfile_info__3QRmi {
  overflow: hidden;
  flex: 1;
}

.PcProfile_link_info__2A5EU {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  color: #fff;
}
.PcProfile_link_info__2A5EU * {
  pointer-events: none;
}

.PcProfile_wrap_name__zOrIR {
  display: flex;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.3px;
  white-space: nowrap;
  color: #fff;
}

.PcProfile_name__3eRNQ {
  overflow: hidden;
  flex: 0 1 auto;
  margin-left: 3px;
}
.PcProfile_name__3eRNQ > .PcProfile_ell__nUXml {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.PcProfile_info_detail__2KCO1 {
  display: flex;
  align-items: center;
  margin-top: 5px;
  white-space: nowrap;
}

.PcProfile_label__2BFod {
  overflow: hidden;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.24px;
  color: #fff;
}
.PcProfile_label__2BFod > .PcProfile_ell__nUXml {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.PcProfile_icon_badge__2cIBi {
  flex-shrink: 0;
  margin-right: 3px;
}
.PcProfile_icon_badge__2cIBi > svg {
  display: block;
  width: 13px;
  height: 13px;
  fill: #fff;
}

.PcProfile_text__8q3nu {
  flex-shrink: 0;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.24px;
  color: rgba(255, 255, 255, 0.6);
}
.PcProfile_text__8q3nu::before {
  display: inline-block;
  vertical-align: top;
  width: 3px;
  height: 3px;
  margin: 6px 6px 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}
.PcProfile_text__8q3nu:first-child::before {
  display: none;
}

.PcProfile_fan__2CNaQ {
  position: relative;
  margin-left: 20px;
}

.PcProfile_tooltip__3OWVl {
  position: absolute;
  top: -68px;
  right: 0;
}

.PcProfile_wrap_link__3Lnny {
  margin: 0 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.PcProfile_link__HvxAo {
  display: flex;
  align-items: center;
  padding: 12px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: rgba(255, 255, 255, 0.7);
}
.PcProfile_link__HvxAo * {
  pointer-events: none;
}

.PcProfile_link_name__2kJsm {
  overflow: hidden;
  display: flex;
  align-items: center;
  color: #fff;
}
.PcProfile_link_name__2kJsm > .PcProfile_ell__nUXml {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.PcProfile_name_prefix__APThr {
  flex-shrink: 0;
  margin-right: 3px;
}

.PcProfile_link_text__2HfpL {
  flex-shrink: 0;
  margin-left: 1px;
}

.PcProfile_icon_arrow___jd6i {
  flex-shrink: 0;
  height: 13px;
  margin: -1px 0 0 5px;
}
.PcProfile_icon_arrow___jd6i > svg {
  width: 5px;
  height: 13px;
  stroke: rgba(255, 255, 255, 0.5);
}
.PopupSuccessFan_dimmed__3PdDT {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.PopupSuccessFan_root__2QrQ- {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.PopupSuccessFan_root__2QrQ- .PopupSuccessFan_title__Y8e3v {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #000;
  text-align: center;
}
.PopupSuccessFan_root__2QrQ- .PopupSuccessFan_title__Y8e3v > strong {
  font-weight: 600;
}
.PopupSuccessFan_root__2QrQ- .PopupSuccessFan_desc__3vOJP {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(34, 34, 34, 0.5);
  letter-spacing: -0.41px;
  text-align: center;
}
.PopupSuccessFan_root__2QrQ- .PopupSuccessFan_close__2V7Ym {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.PopupSuccessFan_inner__zMBt4 {
  pointer-events: auto;
  overflow: hidden;
  position: relative;
  width: 335px;
  padding-top: 30px;
  border-radius: 6px;
  background-color: #fff;
}

.PopupSuccessFan_noti__37jHN {
  position: relative;
  margin-top: 21px;
  padding: 17px 19px 19px 25px;
  border-top: 1px solid #eaeaea;
  font-size: 13px;
  color: #333;
}

.PopupSuccessFan_noti_title__2i_-A {
  display: inline-block;
  margin-right: 8px;
  font-size: 15px;
  line-height: 19px;
  color: #333;
  vertical-align: top;
}

.PopupSuccessFan_wrap_button__TaAHb {
  position: absolute;
  top: 16px;
  right: 25px;
}

.PopupSuccessFan_button_noti__U4nvA {
  width: 48px;
  height: 24px;
}

.PopupSuccessFan_input__1wU0J {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.PopupSuccessFan_input_inner__1kPyA {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #d4d4d4;
  transition: background-color cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
  cursor: pointer;
}
.PopupSuccessFan_input__1wU0J:checked + .PopupSuccessFan_input_inner__1kPyA {
  background-color: #00da78;
}
.PopupSuccessFan_input_inner__1kPyA::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: left cubic-bezier(0.28, 1.31, 0.49, 0.99) 0.4s;
  content: "";
}
.PopupSuccessFan_input__1wU0J:checked + .PopupSuccessFan_input_inner__1kPyA::after {
  left: 26px;
}

.PopupSuccessFan_link__1OdtS {
  position: relative;
  display: flex;
  padding: 17px 22px 20px 25px;
  border-top: 1px solid #eaeaea;
  align-items: center;
}
.PopupSuccessFan_link__1OdtS * {
  pointer-events: none;
}

.PopupSuccessFan_link_title__3e6Yc {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #333;
}

.PopupSuccessFan_icon_new__1Ebr4 {
  margin-left: 6px;
}
.PopupSuccessFan_icon_new__1Ebr4 > svg {
  display: block;
  width: 28px;
  height: 16px;
}

.PopupSuccessFan_icon_arrow__2_4Dx {
  flex-shrink: 0;
  margin-top: -2px;
}
.PopupSuccessFan_icon_arrow__2_4Dx > svg {
  display: block;
  width: 12px;
  height: 14px;
  stroke: #636364;
}

.PopupSuccessFan_icon_close__28JhO {
  pointer-events: none;
}
.PopupSuccessFan_icon_close__28JhO > svg {
  display: block;
  width: 25px;
  height: 25px;
  fill: #646666;
}
.Toast_root__F72PF {
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
}
.Toast_root__F72PF .Toast_message__j2Oi4 {
  margin: 0 15px;
  padding: 12px 25px 11px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.5px;
  color: #fff;
  text-align: center;
}
@media (min-width: 648px) {
  .Toast_root__F72PF .Toast_message__j2Oi4 {
    width: 618px;
    margin: 0 auto;
  }
}
.LoginDialog_dimmed__tTZBv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.LoginDialog_root__2Lbbc {
  width: 315px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  border-radius: 6px;
  opacity: 0;
  transform: scale(0.9) translate(-50%, -50%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform-origin: 0 0;
  background: #fff;
}
.LoginDialog_root__2Lbbc.LoginDialog_is_visible__3_q_s {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

.LoginDialog_description__2uGLN {
  padding: 35px 22px 30px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #000;
  text-align: center;
  word-break: keep-all;
}

.LoginDialog_group_button__1p_C1 {
  display: flex;
  border-top: 1px solid #dfdfdf;
}
.LoginDialog_group_button__1p_C1 .LoginDialog_btn__J7HUd {
  position: relative;
  flex: 1;
  padding: 6px 0;
  color: #000;
  letter-spacing: -0.8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 41px;
  text-align: center;
}
.LoginDialog_group_button__1p_C1 .LoginDialog_btn__J7HUd + .LoginDialog_btn__J7HUd {
  border-left: 1px solid #dfdfdf;
}